{% extends "base.html" %} {% block content %}

<p>Load the Image: </p>

<div>
    <div></div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Choose...
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg, .dcm">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
                <canvas id="imageLayer" class="imageLayer"></canvas>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>
</div>
<div>
    <div>
      <span>Model-1</span>  
    <h3 id="result1">
        <span> </span>
    </h3>
    </div>
    <div>
        <span>Model-2</span>  
    <h3 id="result2">
        <span> </span>
    </h3>
</div>
<div>
    <span>Model-3</span>  
    <h3 id="result3">
        <span> </span>
    </h3>
</div>

</div>
</div>

{% endblock %}
